body > .header-container {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 94px;
  z-index: 99;
  width: 100%;
  // background-color: transparent !important;
  background-color: rgba(0, 0, 0, 0.2) !important;

  @media screen and (max-width: 768px) {
    height: auto;
    // background-image: linear-gradient(-180deg, #424E66, #181C26);
    background-color: #434e66 !important;
  }
}

body > .header-container > .container {
  @media screen and (max-width: 768px) {
    max-width: 100%;
  }


  > nav.navbar {
    background-color: transparent !important;
    width: 100%;
    height: 100%;

    > .navbar-brand {
      display: inline-flex;
      align-items: center;
  
      > span {
        font-size: 30px;
        color: #ffffff;
        margin-left: 10px;
      }

      > .logo {
        height: 2.5rem;
      }
    }
  
    > div.collapse {
      justify-content: flex-end;
  
      > ul.navbar-nav {
        > li.nav-item {
          > a {
            color: #ADC5F2;
            font-size: 1rem;
          }
    
          &.active > a {
            color: #546497;
          }
  
          &.dropdown {
            margin-left: 20px;

            @media screen and (max-width: 768px) {
              margin-left: 0;
            }

            > .dropdown-menu {
              background-color: fade(#000, 50%);

              @media screen and (max-width: 768px) {
                background-color: transparent;
                border: none;

                > .dropdown-item {
                  font-size: 1.2rem;
                }
              }

              > .dropdown-item {
                color: #dddddd;
                text-align: center;

                &:hover {
                  background-color: #434e66;
                  color: #ffffff;
                }
              }

            }
            
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      &.navbar-dark .navbar-nav .nav-link {
        text-align: center;
        font-size: 1.5rem !important;
        color: #adc5f2;
      }

      &.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active,
      &.navbar-dark .navbar-nav .nav-link.show,
      &.navbar-dark .navbar-nav .show > .nav-link {
        color: #546497;
      }
    }
  }
}
