doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title() web dev framework

    each css in cssFiles
      link(type="text/css" rel="stylesheet" href=css)

    block pageCss
  body
    //- header
    div(class="header-container")
      div(class="container")
        nav(class="navbar navbar-expand-lg navbar-light bg-light")
          a(class="navbar-brand" href="#")
            img(src="/asset/logo.svg" height="40" alt="")
            span GameRoot
          button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")

          div(class="collapse navbar-collapse" id="navbarNavDropdown")
            ul(class="navbar-nav")
              li(class="nav-item active")
                a(class="nav-link" href="#") HOME
                  span(class="sr-only") (current)
              li(class="nav-item")
                a(class="nav-link" href="#") UPDATE
              li(class="nav-item")
                a(class="nav-link" href="#") COMMUNITY
              li(class="nav-item")
                a(class="nav-link" href="#") CAREER
              li(class="nav-item dropdown")
                a(class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 中文
                div(class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink")
                  a(class="dropdown-item" href="#") En
                  a(class="dropdown-item" href="#") 韩文
                  a(class="dropdown-item" href="#") 日文

    div(class="content")
      block content

    each js in jsFiles
      script(src=js)

    //- footer

    div(class="footer")
      div(class="container")
        img(class="footer-bg" src="/asset/footer_bg.svg")
        div(class="part-title") 随时关注我们的更新
        div(class="subscribe-group")
          input(class="email-input" placeholder="邮箱...")
          button(class="btn btn-subscribe") 订阅

        div(class="community-group")
          a
            img(class="twitter" src="/asset/twitter.svg")
          a
            img(class="github" src="/asset/github.svg")
          a
            img(class="facebook" src="/asset/facebook.svg")

        div(class="copyright") Copyright © 2017-2018 Gameroot.io

    block pageScript
