doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title() web dev framework

    each css in cssFiles
      link(type="text/css" rel="stylesheet" href=css)

    block pageCss
  body
    //- header
    nav(class="navbar navbar-expand-lg navbar-light bg-light")
      a(class="navbar-brand" href="#") Navbar
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")

      div(class="collapse navbar-collapse" id="navbarNavDropdown")
        ul(class="navbar-nav")
          li(class="nav-item active")
            a(class="nav-link" href="#") Home 
              span(class="sr-only") (current)
          li(class="nav-item")
            a(class="nav-link" href="#") Features
          li(class="nav-item")
            a(class="nav-link" href="#") Pricing
          li(class="nav-item dropdown")
            a(class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Dropdown link
            div(class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink")
              a(class="dropdown-item" href="#") Action
              a(class="dropdown-item" href="#") Another
              a(class="dropdown-item" href="#") Something else here

    div(class="container")
      block content

    each js in jsFiles
      script(src=js)

    //- footer

    block pageScript
