extends ../layout.pug

block pageCss
  if pageCss.index
    link(type="text/css" rel="stylesheet" href=pageCss.community)

block content
  section(class="team-location")
    div(class="container")
      img(src="/asset/community/map.png")
      div(class="part-title") 我们的团队遍布世界各地
      div(class="describe") Game Root 智能合约 SDK，方便游戏开发者将部分“稀有”游戏道具等数字资产实现“一键上链”、在 Game Root 平台进行交易转让，打破单一游戏／平台内交易的封闭性，盘活玩家的“沉没游戏资产”。同时搭建基于IPFS的去中心化分发平台，让游戏内容的分发更加公平。

  section(class="join-community")
    div(class="container")
      div(class="section-title") 加入社区，分享你的智慧
      div(class="describe") Game Root 智能合约 SDK，方便游戏开发者将部分“稀有”游戏道具等数字资产实现“一键上链”、在 Game Root 平台进行交易转让，打破单一游戏／平台内交易的封闭性，盘活玩家的“沉没游戏资产”。同时搭建基于IPFS的去中心化分发平台，让游戏内容的分发更加公平。

      div(class="information-part")
        div(class="focus-part")
          div(class="part-title") 焦点聚焦
          div(class="part-content")
            div(class="content-group")
              img(src="/asset/community/focus1.png")
              div(class="content")
                span(class="title") GameRoot区块链实践日
                span(class="link")
                  a(href="#") 了解详情
                  a(href="#") 现在加入

            div(class="content-group")
              img(src="/asset/community/focus2.png")
              div(class="content")
                span(class="title") GameRoot出海创业扶持计划
                span(class="link")
                  a(href="#") 了解详情
                  a(href="#") 现在加入
        
        div(class="activity-part")
          div(class="part-title") 近期活动
          div(class="activity-timeline")
            div(class="activity-group")
              span(class="title") 构建基于富媒体大数据的弹性深度学习计算平台
              span(class="time-location") 5月25-27日 北京

            div(class="activity-group")
              span(class="title") 自定义数据处理平台的容器化实践
              span(class="time-location") 5月26日 杭州
            
            div(class="activity-group")
              span(class="title") 直播及存储移动端网络优化
              span(class="time-location") 5月26-29日 贵阳

  section(class="community-link-group")
    div(class="container")
      div(class="section-title") 社区原力入口

      div(class="content-part row")
        div(class="link-part col-6")
          img(src="/asset/twitter.svg")
          div(class="link-group")
            span(class="name") TWITTER
            a(href="#" class="link") http://medium.muz.li

        div(class="link-part col-6")
          img(src="/asset/facebook.svg")
          div(class="link-group")
            span(class="name") FACEBOOK
            a(href="#" class="link") http://medium.muz.li

        div(class="link-part col-6")
          img(src="/asset/github.svg")
          div(class="link-group")
            span(class="name") GITHUB
            a(href="#" class="link") http://medium.muz.li

        div(class="link-part col-6")
          img(src="/asset/telegram.svg")
          div(class="link-group")
            span(class="name") TELEGRAM
            a(href="#" class="link") http://medium.muz.li
          

