body > .content {
  > .job-detail {
    background-image: linear-gradient(-211deg, #2F3647 4%, #1B202B 100%);

    > .container {
      height: auto;
      padding: 140px 0;
      display: flex;
      flex-direction: column;

      > .job-name {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 72px;
        font-size: 3rem;
        color: #ffffff;
      }

      > .sub-title {
        display: flex;
        align-items: center;
        height: 60px;
        margin: 10px 0;
        font-size: 2rem;
        width: 100%;
        color: #ffffff;

        > span {
          margin-right: 32px;
        }
      }

      > .duty {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        color: #ffffff;
        width: 100%;

        > .title {
          font-size: 2rem;
          height: 50px;
          margin-bottom: 20px;
        }

        > .description {
          width: 100%;
          
          > p {
            font-size: 1rem;
            font-weight: 300;
          }
        }

      }
      > .we-wish {
        display: flex;
        flex-direction: column;
        margin-top: 64px;
        color: #ffffff;
        width: 100%;

        > .title {
          font-size: 2rem;
          height: 50px;
          margin-bottom: 40px;
        }

        > .description {
          width: 100%;
          
          > p {
            font-size: 1rem;
            font-weight: 300;
          }
        }
      }

      > .jd {
        width: 70%;
        color: #ffffff;
        margin-top: 80px;
        display: flex;
        flex-direction: column;

        > .part {
          margin: 32px 0;

          > h4 {
            font-size: 2rem;
            font-weight: 300;
            margin-bottom: 22px;
          }

          > ul {
            list-style: none;
            position: relative;
            padding-left: 8px;

            > li {
              line-height: 30px;
              position: relative;
              padding-left: 8px;

              &:before {
                content: ' · ';
                left: -8px;
                top: 0;
                height: 100%;
                width: 8px;
                position: absolute;
                color: #ffffff;
              }
            }
          }
        }

      }
      > .email-part {
        color: #ffffff;

        > a {
          margin-left: 8px;
        }
      }
    }
  }
}