body > .content {
  > .team-location {
    background-image: linear-gradient(135deg, #424E66, #181C26);
    padding-top: 10%;

    .section-height(1);

    @media screen and (max-width: @mobile-max-width) {
      .section-height(0.4);
      padding-top: 7rem;
    }

    > .container {
      position: relative;
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #ffffff;

      > img {
        position: absolute;
        bottom: -10px;
        width: 100%;
        left: 0;
      }

      > .part-title {
        font-size: 3rem;
        text-align: center;
        width: 100%;

        @media screen and (max-width: @mobile-max-width) {
          font-size: 2.5rem;
        }
      }
    }
  }

  > .join-community {
    background-image: linear-gradient(-187deg, #1A202E 0%, #0D1019 100%);

    // .section-height(1);
    .section-height(0.8);

    @media screen and (max-width: @mobile-max-width) {
      // height: 200vh;
      // min-height: 1200px;
      // max-height: 1400px;


      height: 160vh;
      min-height: 800px;
      max-height: 900px;
    }

    > .container {
      padding: 5% 0;
      display: flex;
      flex-direction: column;
      color: #ffffff;
      height: 100%;

      @media screen and (max-width: @mobile-max-width) {
        padding: 4rem 0;
      }

      > .describe {
        text-align: left;
        width: 100%;
        margin: 8% 0;
        font-size: 1rem;
        color: #ffffff;
        font-weight: 300;
      }

      > .information-part {
        flex: 1;
        width: 100%;
        display: flex;
        position: relative;
      }

      > .information-part > .row {
        width: 100%;
        margin: 0;

        > .tmp-focus-part,
        > .focus-part,
        > .activity-part {
          height: 100%;
          display: flex;
          flex-direction: column;

          @media screen and (max-width: @mobile-max-width) {
            padding-top: 3rem;
          }

          > .part-title {
            height: 2.25rem;
            font-size: 1.5rem;
            margin-bottom: 8%;

            // TODO delete tmp
            text-align: center;

            @media screen and (max-width: @mobile-max-width) {
              text-align: center;
              margin-bottom: 1.5rem;
            }
          }
        }

        > .focus-part {
          @media screen and (max-width: @mobile-max-width) {
            height: 60%;
          }

          > .part-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media screen and (max-width: @mobile-max-width) {
              padding: 2rem 0;
            }

            > .content-group {
              display: flex;
              height: 131px;

              @media screen and (max-width: @mobile-max-width) {
                flex-direction: column;
                height: auto;
                padding: 0 16px;
              }
              
              > img {
                height: 100%;
              }

              > .content {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-left: 16px;

                @media screen and (max-width: @mobile-max-width) {
                  padding-left: 0;
                }

                > .title {
                  font-size: 1.5rem;
                  color: #ffffff;
                  height: 36px;

                  @media screen and (max-width: @mobile-max-width) {
                    margin-top: 1rem;
                    text-align: center;
                    width: 100%;
                  }
                }

                > .link {
                  @media screen and (max-width: @mobile-max-width) {
                    text-align: center;
                  }
                  > a {
                    color: #02adff;
                    font-size: 1rem;
                    padding-right: 12px;
                    margin-right: 12px;

                    &:first-child {
                      border-right: 1px solid #02adff;
                    }
                  }
                }
              }
            }
          }
        }

        // TODO: delete tmp
        > .tmp-focus-part {
          @media screen and (max-width: @mobile-max-width) {
            // height: 60%;
            height: 100%;
          }

          > .part-content {
            flex: 1;
            display: flex;
            justify-content: space-around;

            @media screen and (max-width: @mobile-max-width) {
              padding: 2rem 0;
              flex-direction: column;
            }

            > .content-group {
              display: flex;
              height: 131px;
              flex: 1;
              margin: 0 1rem;

              @media screen and (max-width: @mobile-max-width) {
                flex-direction: column;
                height: auto;
                padding: 0 16px;
                flex: unset;
              }
              
              > img {
                height: 100%;
              }

              > .content {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-left: 16px;

                @media screen and (max-width: @mobile-max-width) {
                  padding-left: 0;
                }

                > .title {
                  font-size: 1.5rem;
                  color: #ffffff;
                  height: 36px;

                  @media screen and (max-width: @mobile-max-width) {
                    margin-top: 1rem;
                    text-align: center;
                    width: 100%;
                  }
                }

                > .tmp-mes {
                  font-size: 1rem;
                  color: #a0a0a0;
                  width: 100%;

                  @media screen and (max-width: @mobile-max-width) {
                    text-align: center;
                  }
                }
              }
            }
          }
        }

        > .activity-part {
          @media screen and (max-width: @mobile-max-width) {
            height: 40%;
            padding: 2rem 5rem;
          }

          > .activity-timeline {
            border-left: 1px solid #546497;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            @media screen and (max-width: @mobile-max-width) {
              margin-top: 2rem;
            }

            > .activity-group {
              flex: 1;
              display: flex;
              flex-direction: column;
              width: 100%;
              max-height: 100px;
              justify-content: space-around;
              padding-left: 4px;

              > .title {
                width: 100%;
                font-size: 1.5rem;
                color: #f8f9fb;
              }

              > .time-location {
                font-size: 1rem;
                margin-top: 8px;
                color: #a0a0a0;
                font-weight: 200;
              }
            }
          }
        }
      }
    }
  }

  > .community-link-group {
    background-image: linear-gradient(135deg, #424E66, #181C26);
    color: #ffffff;

    .section-height(0.7);

    @media screen and (max-width: @mobile-max-width) {
      height: 100vh;
    }

    > .container {
      padding: 5% 0;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-around;

      @media screen and (max-width: @mobile-max-width) {
        padding: 5rem 0;
      }

      > .content-part {
        // flex: 1;
        margin-top: 4rem;
        width: 100%;
        padding: 0 15%;
      }

      > .content-part > .row {
        > .link-part {
          display: flex;
          padding: 30px;

          > img {
            height: 5rem;
            width: 5rem;
          }

          > .link-group {
            flex: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 4rem;

            > .name {
              width: 100%;
              color: #ffffff;
              font-size: 1.5rem;
            }

            > .link {
              color: #02adff;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}