body > .content {
  > .overview-section {
    background-image: linear-gradient(135deg, #424E66, #181C26);
    padding-top: 16%;
    
    .section-height();

    @media screen and (max-width: @mobile-max-width) {
      padding-top: 100px;
      min-height: 100%;
    }

    @media (min-width: 1600px) {
      > .container {
        max-width: 1400px;
      }
    }

    > .container {
      height: 100%;
      position: relative;

      @media screen and (max-width: @mobile-max-width){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }

      > .overview-img {
        max-height: 90%;
        max-width: 70%;
        position: absolute;
        right: 0;
        bottom: 0;

        @media screen and (max-width: @mobile-max-width){
          position: relative;
          max-width: 90%;
          margin-top: 4rem;
        }
      }

      > .overview-content {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: @mobile-max-width) {
          align-items: center;
          padding: 1rem 0;
          flex: 1;
        }


        > .overview-title {
          color: #ffffff;
          width: 60%;
          margin-bottom: 2%;
          max-width: 645px;
          font-weight: 300;
          font-size: 2.75rem;

          @media screen and (max-width: @mobile-max-width) {
            width: 100%;
            max-width: 100%;
            text-align: center;
          }
        }

        > .overview-subtitle {
          color: #02ADFF;
          font-size: 1.5rem;
          margin-bottom: 6%;
          height: 80px;

          @media screen and (max-width: @mobile-max-width) {
            margin-bottom: 0;
            height: 5rem;
            display: flex;
            align-items: center;
          }
        }

        > .contact-group {
          display: flex;
          flex-direction: column;

          @media screen and (max-width: @mobile-max-width) {
            align-items: center;
          }

          .btn-email {
            background-image: linear-gradient(-180deg, #008AD4, #4748FF);
            color: #ffffff;
            border-radius: 24px;
            font-size: 1.38rem;
            margin-bottom: 2%;
            padding: 0.5rem 50px;
          }

          > .plus-contact {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            width: 284px;
  
            > .telegram {
              margin-right: 10px;
              font-size: 1rem;

              > a > img {
                margin-right: 10px;
              }
            }

            a > img {
              width: 20px;
              margin-right: 4px;
            }
          }
        }

      }
    }
  }

  > .intro-section {
    position: relative;
    padding: 6% 0 4%;

    .section-height(0.8);

    > .container {
      height: 100%;
    }

    > .container > .row {
      position: relative;
      height: 100%;

      > .image-preview {
        position: relative;
        padding: 0 100px;
        display: flex;
        align-items: center;

        > img {
          width: 100%;
        }

        > .annotation-group {
          position: absolute;
          height: 100%;
          width: 100%;
          z-index: 2;
          top: 0;
          left: 0;

          > .annotation-item {
            position: absolute;
            z-index: 2;
            color: #ffffff;
            width: 90px;
            font-size: 1rem;

            &.sdk {
              top: 29%;
              left: 2rem;
              text-align: right;
            }

            &.virtual {
              top: 50%;
              left: 2rem;
              text-align: right;
            }

            &.creator {
              top: 14%;
              right: 0;
            }

            &.game {
              top: 46%;
              right: 0;
            }

            &.market {
              top: 69%;
              right: 0;
            }
          }
        }
      }

      > .intro-group {
        display: flex;
        flex-direction: column;
        justify-content: center;

        > h3.title {
          height: 83px;
          color: #ffffff;
          font-size: 3.25rem;
          margin-bottom: 60px;

          @media screen and (max-width: @mobile-max-width) {
            font-size: 3rem;
            height: auto;
            margin-bottom: 2rem;
            text-align: center;
          }

          > .important {
            color: #02adff;
            margin-right: 20px;
          }
        }

        > .subtitle {
          font-size: 1.75rem;
          color: #FFFFFF;
          margin-bottom: 41px;
        }

        > .words {
          font-size: 1rem;
          color: #ffffff;
          text-align: justify;
          line-height: 2rem;
        }
      }
    }
  }

  > .value-section {
    // height: 1800px;
    // height: auto;
    background-image: linear-gradient(105deg, #2F3647, #1B202B);
    color: #ffffff;

    .section-height(2);

    @media screen and (max-width: @mobile-max-width) {
      .section-height(3.2);
    }

    > .container {
      display: flex;
      flex-direction: column;
      height: 100%;

      > .for-player,
      > .for-developer {
        padding-top: 130px;
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: @mobile-max-width) {
          padding-top: 5rem;
        }

        > .part-title {
          position: relative;
          height: 90px;
          width: 100%;
          font-size: 3rem;
          text-align: center;
          padding-top: 28px;

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: ~ 'calc(50% - 44px)';
            width: 88px;
            height: 8px;
            background-image: linear-gradient(90deg, #008AD4 0%, #4748FF 100%);
          }
        }

        > .row {
          flex: 1;
        }
      }

      > .for-player {
        @media screen and (max-width: @mobile-max-width) {
          flex: 1.8;
        }

        > .row {
          padding-top: 36px;
        }

        > .row > .value-item {
          width: 100%;
          height: 100%;
          position: relative;

          @media screen and (max-width: @mobile-max-width) {
            height: auto;
            display: flex;
            justify-content: center;
          }

          > .words-part {
            height: 35rem;
            top: ~ 'calc(100% - 35rem)';
            position: relative;
            left: 0;
            box-shadow: 0 5px 20px 0 rgba(0,0,0,0.04);
            border-radius: 8px;
            padding: 10rem 10% 0;
            display: flex;
            flex-direction: column;
            width: 22.4rem;

            > .pre-image {
              position: absolute;
              z-index: 2;
              width: 70%;
              left: 15%;
              bottom: 22.5rem;

              &.img2 {
                bottom: 22rem;
              }

              &.img3 {
                bottom: 21.3rem;
              }
            }

            &:after {
              content: '';
              height: 100%;
              width: 100%;
              top: 0;
              left: 0;
              background-image: linear-gradient(-180deg, #16171E 0%, #000000 100%);
              border-radius: 8px;
              position: absolute;
              z-index: 1;
            }

            > .value-item-title,
            > .value-item-content {
              position: relative;
              z-index: 2;
            }

            > .value-item-title {
              font-size: 2.25rem;
              font-weight: 400;
              height: 3.37rem;
              width: 100%;
              margin-bottom: 3.75rem;
            }

            > .value-item-content {
              flex: 1;

              > p {
                font-size: 1rem;
                text-align: justify;
                line-height: 2rem;
                font-weight: 300;
              }
            }

          }
        }
      }

      > .for-developer {
        > .group {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          flex: 1;
          padding-bottom: 5rem;

          > .row {
            height: 40%;

            @media screen and (max-width: @mobile-max-width) {
              height: 100%;
              padding-top: 2rem;
            }

            > .value-item {
              display: flex;
              padding: 0 12px;
  
              > .pre-image-bg {
                height: 8.5rem;
                width: 8.5rem;
                border-radius: 50%;
                background-image: linear-gradient(-180deg, #008AD4 0%, #4748FF 100%);
                position: relative;
                top: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
  
                > .pre-image {
                  position: relative;
                  z-index: 2;
                  width: 4.6rem;
                  height: 4.6rem;
                }
              }
  
              > .content {
                flex: 1;
                padding: 4px 40px;
                display: flex;
                flex-direction: column;
  
                > .sub-title {
                  font-weight: 400;
                  height: 6.25rem;
                  font-size: 2.25rem;
                  margin-bottom: 1.25rem;
                }
  
                > .describe {
                  flex: 1;
                  font-size: 1rem;
                  text-align: justify;
                }
              }
            }
          }
        }
      }
    }
  }

  // @media (min-height: 1080px) {
  //   > .value-section {
  //     height: 2100px;

  //     > .container {
  //       > .for-developer,
  //       > .for-player {
  //         padding-top: 130px;
  //       }

  //       > .for-player {
  //         > .row {
  //           padding-top: 44px;

  //           > .value-item {
  //             > .img1 {
  //               top: 60px;
  //             }
  
  //             > .img2 {
  //               top: 134px;
  //             }
  
  //             > .img3 {
  //               top: 110px;
  //             }
  
  //             > .words-part {
  //               padding-top: 162px;
  //               height: 558px;
  //               top: 230px;
  
  //               > .value-item-title {
  //                 margin-bottom: 60px;
  //               }
  //             }
              
  //           }
  //         } 
  //       }

  //       > .for-developer {
  //         > .row {
  //           padding-top: 120px;
  //         }
  //       }
  //     }
  //   }
  // }

  > .creating-section {
    .section-height(1);

    @media screen and (max-width: @mobile-max-width) {
      .section-height(0.4);
    }

    > .container {
      position: relative;
      height: 100%;

      > .title {
        color: #ffffff;
        position: relative;
        font-size: 3rem;
        font-weight: 400;
        top: 10%;
        height: 90px;
        width: 100%;
        text-align: center;
        padding-top: 28px;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: ~ 'calc(50% - 44px)';
          width: 88px;
          height: 8px;
          background-image: linear-gradient(90deg, #008AD4 0%, #4748FF 100%);
        }        
      }
  
      > .we-building-img {
        width: 100%;
        bottom: -9rem;
        position: absolute;
        z-index: 3;

        @media screen and (max-width: @mobile-max-width) {
          width: 90%;
          bottom: -2rem;
        }
      }
    }
  }

  > .partner-section {
    display: none;
    background-image: linear-gradient(135deg, #2F3647, #202533);

    .section-height(0.4);
  }
}
